<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlBJFg2JxIpIwXm8m65lYFNnE2J1QKr4Q&libraries=places&callback=initMap">
    </script>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body>

<input id="place" name="place">
<input id="priority" name="priority" type="number">
<button id="add">Add</button>
<button id="findBest">Find Best acc to opening and closing hrs</button>
<ul id="list">


</ul>
<div id="map"></div>
</body>
</html>