<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlBJFg2JxIpIwXm8m65lYFNnE2J1QKr4Q&callback=initMap">
    </script>
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/js/customer.js"></script>
</head>
<body>
<input id="place" name="place">
<button id="add">Add</button>
<button id="findDistance">Find Acc to Distance</button>
<button id="findTime">Find Acc to Time</button>

<ul id="list">


</ul>

</body>
</html>